{% extends 'base.html.twig' %}
{% block description %}
	Venez déguster nos délicieux plats, préparés par Arnaud Michant et sa brigade selon les plus grandes traditions culinaires
{% endblock %}
{% block title %}Le Quai Antique - Les plats
{% endblock %}

{% block body %}
	<div class='dishes_container'>

			<h2 class='page_title'>La Carte</h2>

		{% for category in categories %}
			{% if category.dishes|length > 0 %}

				<div class='category_container'>
					<div class='category_title'>
						<h3>{{category.name}}</h3>
					</div>

					<div class='category_items'>
						{% for dish in category.dishes %}
							<div class='item'>
								<div class='item_name'>
									{{dish.name}}
								</div>
								<div class='item_description'>
									{{dish.description}}
								</div>
								<div class='item_price'>
									{{dish.price}}
									€
								</div>
							</div>

						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endfor %}

	</div>
{% endblock %}
