{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Accueil
{% endblock %}

{% block body %}
	<div class="landing">
		<div class="intro">
			<div class="title_intro">
				<h1>Le Quai Antique</h1>
				<h3>une expérience gastronomique<br/>sans artifice</h3>
				<h4>par Arnaud Michant</h4>
			</div>
		</div>
	</div>

	<div class="home_content">

		<div class="home_catch">
			<p>La gourmandise est un vilain défaut...<br/>promis on ne dira rien</p>
		</div>

		<div class='home_gallery'>
			{% for image in gallery %}
				<div class='image_container' key={image.id}>
					<div class='image'>
						<img src="/img/{{image.url}}" alt="{{image.description}}"/>
					</div>
					<div class='description'>
						<p>{{image.description}}</p>
					</div>
				</div>
			{% endfor %}
		</div>


		<a href="{{path('app_booking')}}">
			<div class="booking_button">
				<p>Réserver</p>
			</div>
		</a>
	</div>


{% endblock %}
