{% extends 'base.html.twig' %}
{% block description %}
	Le Quai Antique vous propose une sélection de savoureux menus, adaptés aux saisons et à vos envies.
{% endblock %}
{% block title %}Le Quai Antique - Les Menus
{% endblock %}

{% block body %}
	<div class='menus_container'>

			<h2 class='page_title'>Les Menus</h2>

		<div class='menus_items'>

			{% for menu in menus %}
				{% if menu.formulas|length > 0 %}

					<div class='item'>
						<div class='item_title'>
							<h3>{{menu.name}}</h3>
						</div>
						<div class='item_body'>

							{% for formula in menu.formulas %}

								<div class='item_formula'>
									<div class='formula_title'>
										<h4>{{formula.name}}</h4>
									</div>
									<div class='formula_description'>{{formula.description}}</div>
									<div class='formula_price'>{{formula.price}}
										€</div>
								</div>

							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}

		</div>

	</div>


{% endblock %}
