{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Réinitialiser le mot de passe{% endblock %}

{% block body %}
<div class="reset_container">
    <h2 class="reset_title">Réinitiliser le mot de passe</h2>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword.first, {
            label : 'Votre mot de passe'
        }) }}

        {{ form_row(resetForm.plainPassword.second, {
            label : 'Répéter le mot de passe'
        }) }}
        <button class="submit_button">Réinitialiser</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
