{% extends 'admin_base.html.twig' %}

{% block title %}Compte Administration{% endblock %}

{% set ProfilCSRFToken = csrf_token('profil') %}
{% if app.user %}
		{% set userId = app.user.id %}
	{% endif %}
{% block content %}
<div {{ react_component('AdminAccount', {userId, ProfilCSRFToken } )}}></div>
{% endblock %}