{% extends 'admin_base.html.twig' %}

{% block title %}Gérer les réservations{% endblock %}

{% block content %}
{% set BookingCSRFToken = csrf_token('booking') %}

<div {{ react_component('AdminBooking', {BookingCSRFToken} )}}></div>
{% endblock %}
