{% extends 'admin_base.html.twig' %}

{% block title %}Gérer les réservations{% endblock %}

{% block content %}
<div {{ react_component('AdminBooking', {'data': "l'autre test"} )}}></div>
{% endblock %}
