{% extends 'admin_base.html.twig' %}

{% block title %}Gérer les plats{% endblock %}

{% block content %}
{% set CategoryCSRFToken = csrf_token('category') %}
{% set DishesCSRFToken = csrf_token('dishes') %}

<div {{ react_component('AdminDishes', {CategoryCSRFToken, DishesCSRFToken } )}}></div>
{% endblock %}
