{% extends 'admin_base.html.twig' %}

{% block title %}Gérer les menus
{% endblock %}

{% block content %}
	{% set MenuCSRFToken = csrf_token('menus') %}
	{% set FormulaCSRFToken = csrf_token('formulas') %}
	<div {{ react_component('AdminMenus', {MenuCSRFToken, FormulaCSRFToken } )}}></div>
{% endblock %}
