@use 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Karma:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.booking_container {
  display: grid;
  margin-top: 75px;
  margin-bottom: 120px;

  .booking_title {
    @include variables.pageTitle();
  }

  .form {
    margin-top: 50px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Karma", serif;
    font-size: 25px;

    .booking_infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 45px;

      .date_div,
      .number_div,
      .shift_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        input,
        select {
          @include variables.input(245px, 45px); 

        }
      }
    }

    .hour_choice {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;

      .hours {
        margin: 5px;

        label {
          color: variables.$cultured;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 125px;
          height: 45px;
          border-radius: 10px;
          background-color: variables.$ocean-green;
          font-size: 30px;
          padding-top: 6px;
        }

        input {
          display: none;
        }

        input:checked+label {
          background-color: variables.$green-crayola;
        }
      }
    }

    .allergies_div {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      width: 90%;

      textarea {
        @include variables.input(100%, 300px); 
      }
    }

    .user_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 45px;
      align-self: center;
      .lastname_div,
      .firstname_div,
      .email_div,
      .phone_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        input {
          @include variables.input(90%, 45px); 
        }
      }
    }

    .disclaimer {
      font-size: 16px;
      font-family: "Average Sans", sans-serif;
      margin-top: 45px;
      align-self: center;
      width: 90%;
      text-align: left;
    }

    .submit_button {
      margin-top: 45px;
      align-self: center;
      @include variables.button(50px, 300px, variables.$green-crayola, 7px, 20px);
  }
}

}

@media screen and (min-width: 875px) {
  .booking_container {
    .form {
      min-width: 875px;

      .booking_infos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;

        .date_div,
        .number_div,
        .shift_div {
          display: flex;
          flex-direction: column;
          width: 245px;
        }
      }

      .hour_choice {
        justify-content: flex-start;
        width: 60%;

        .hours {
          margin: 12.5px;
        }
      }

      .allergies_div {
        width: 70%;
      }

      .user_info {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        .lastname_div,
        .firstname_div,
        .email_div,
        .phone_div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 360px;

        }
      }
      .submit_button {
        align-self: flex-end;
      }
    }

  }
}