@use 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Karma:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.user_container {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 140px;


  h3 {
    font-family: "Average Sans", sans-serif;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .user_form {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    .lastName_div,
    .firstName_div,
    .phone_div,
    .number_div,
    .allergies_div,
    .email_div,
    .password_div,
    .password_verif_div {
      display: flex;
      flex-direction: column;
      font-family: "Karma", serif;
      font-size: 25px;
      margin-bottom: 35px;

      input {
        @include variables.input(100%, 45px); 
      }

      textarea {
        @include variables.input(100%, 145px); 
      }
    }

    .submit_button {
      @include variables.button(50px, 260px, variables.$green-crayola, 7px, 20px);
      align-self: center;
      
    }
  }
  .margin_password {
    margin-top: 75px;
  }
}

@media screen and (min-width: 875px) {

  .user_container {
    max-width: 820px;
    margin: auto;
    margin-bottom: 140px;

    h3 {
      font-size: 40px;
    }

  }
}