// Colors scheme
$rich-black-fogra-29: hsla(219, 42%, 9%, 1);
$cultured: hsla(0, 0%, 93%, 1);
$middle-blue-green: hsla(158, 39%, 75%, 1);
$ocean-green: hsla(158, 45%, 58%, 1);
$green-crayola: hsla(158, 72%, 40%, 1);
$deep-chestnut: hsla(0, 47%, 51%, 1);
$disabled : hsla(0, 2%, 66%, 1);
$gradient-top-right: linear-gradient(45deg, #edededff, #a7d8c6ff, #62c4a0ff, #1db07aff);


@mixin button($height, $width, $bgcolor, $padding, $fontsize) {
  width: $width;
  height: $height;
  padding-top: $padding;
  font-size: $fontsize;
  background: linear-gradient(45deg, $bgcolor, $bgcolor, transparent) $bgcolor;
  text-align: center;
  color: $cultured;
  font-family: 'Karma', serif;
  font-weight: bold;
  border-radius: 25px;
  transition: background-color .5s;
  border: none;
  cursor: pointer;

  &:disabled {
    background: $disabled ;

    &:hover {
      background: $disabled;
      cursor: default;
    }
  }

  &:hover {
    background-color: $cultured;
    cursor: pointer;
  }
}

@mixin pageTitle() {
  justify-self: center;
  font-family: "Titillium web", sans-serif;
  font-weight: bold;
  color: $green-crayola;
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
  @media screen and (min-width: 875px) {
    font-size: 80px;
    margin-bottom: 50px;
  }
}

@mixin input($width, $height) {
  width: $width;
  height: $height;
  border-radius: 10px;
  border: solid 1px $rich-black-fogra-29;
  text-align: center;
  font-size: 20px;
  background-color: white;
}