{% extends 'base.html.twig' %}


{% block body %}
	<div class="user_body">
		{% block sidebar %}
  <div class="sidebar">
			
      <ul class="sidebar_list">
        <a href="{{path('app_user_profil')}}"><li class="sidebar_item">Mon Profil</li></a>
        <a href="{{path('app_user_account')}}"><li class="sidebar_item">Mon Compte</li></a>
        <a href=""><li class="sidebar_item disconnect">Déconnexion</li></a>
      </ul>
  </div>
		{% endblock %}
    <div class="user_content">
    <h2 class="user_title">Mon Compte</h2>
		{% block content %}{% endblock %}
    </div>
	</div>
{% endblock %}
