{% extends 'base.html.twig' %}


{% block body %}
	<div class="user_body">
		{% block sidebar %}
  <div class="sidebar">
			{% set currentPath = app.request.attributes.get('_route') %}
      <ul class="sidebar_list">
        <a href="{{path('app_user_profil')}}"><li
        {% if currentPath == 'app_user_profil' %}
          class="sidebar_item sidebar_active"
          {% else %}
          class="sidebar_item"
        {% endif %}>Mon Profil</li></a>
        <a href="{{path('app_user_account')}}"><li
        {% if currentPath == 'app_user_account' %}
          class="sidebar_item sidebar_active"
          {% else %}
          class="sidebar_item"
        {% endif %}>Mon Compte</li></a>
        <a href="{{path('app_logout')}}"><li class="sidebar_item disconnect">Déconnexion</li></a>
      </ul>
  </div>
		{% endblock %}
    <div class="content">
    <h2 class="title">Mon Compte</h2>
		{% block content %}{% endblock %}
    </div>
	</div>
{% endblock %}
