{% extends 'user_base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
	{% if app.user %}
		{% set userId = app.user.id %}
	{% endif %}

<div {{ react_component('UserAccount', {userId} )}}></div>
{% endblock %}
