{% extends 'user_base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
	{% if app.user %}
		{% set userId = app.user.id %}
	{% endif %}
{% set ProfilCSRFToken = csrf_token('profil') %}

<div {{ react_component('UserAccount', {userId, ProfilCSRFToken} )}}></div>
{% endblock %}
